
@import url('https://fonts.googleapis.com/css?family=Nunito Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --color-bg: #FFFFFF;
    --font-family: 'Nunito Sans', sans-serif;;
    --link-color: #605DEC;
}